# Ignoring Jupyter Notebooks so that the linguist breakdown returns meaningful language percentages.

quaternions/Preliminary Flight Data Exploration.ipynb linguist-generated=true
logs/magnetometer Analysis.ipynb linguist-generated=true
